html {
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

}

.courseItem {
    cursor: pointer;
}

#courseList .timeLine {
    font-size: 12px;
}

#calendarDisplay {
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

#calendarDisplay img {
    width: 23px;
}

#calendarDisplayLeft {
    display: flex;
    align-items: center;
}

#calendarContainer {
    box-shadow: 0 6px 18px 2px rgba(180, 208, 245, 0.40);
}

#courseList {
    padding-top: 20px;
    overflow: auto;
}

#noDataContainer {
    overflow: auto;
}

#courseContent .calendarMode,
#courseContent.classTableMode .classTableMode {
    display: block;
}

#courseContent.classTableMode .calendarMode,
#courseContent .classTableMode {
    display: none;
}

/*课表模式*/

#courseTable {
    border-spacing: 0;
    width: 100%;
}

#courseTable {
    font-size: 12px;
    text-align: center;
}

#courseTableHead {
    height: 73px;
    display: flex;
}

#courseTableBody {
    display: flex;
}

#courseTableHead .courseDate {
    margin-bottom: 15px;
    margin-top:10px;
}

#courseTableHead>div:first-child {
    width: 14%;
    background: #F9FAFB;
}

#courseTimeList {
    width: 86%;
    background: #F7FBFE;
    display: flex;
}

#courseTimeList>div {
    width: 14.28%;
    position: relative;
    vertical-align: top;
}

#courseTableThList {
    background-color: #fff;
}

#courseTableThList.sliding {
    background-color: #F7FBFE;
}

#courseTimeContainer {
    padding: 0 12px;
    width: 14%;
    background: #fff;
    z-index: 1;
}

#courseTimeContainer div {
    border-bottom: 1px solid #D6DEE8;
    height: 65px;
    line-height: 65px;
}

#courseTimeContainer div:last-child {
    border-bottom: none;
}

#courseTableBody .courseItem {
    position: absolute;
    color: #fff;
    background: #3E87FF;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fff;
}

#courseTableBody .courseItem__subjectName {
    font-size: 16px;
    margin-bottom: 7px;
}

#courseTableBody .courseItem__gradeName {
    font-size: 12px;
}

#courseTableBodyContainer {
    overflow-y: auto;
}

.noData>img {
    height: 180px !important;
}

.noData {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#courseTableThContainer {
    width: 86%;
    overflow: hidden;
    height:100%;
}

#courseTableThList>div {
    width: 33.33%;
    display: flex;
}

#courseTableThList>div>div {
    width: 14.28%;
}

#courseTableThList {
    width: 300%;
    -webkit-transform: translate3D(-33.3333%, 0, 0);
    transform: translate3D(-33.3333%, 0, 0);
    display: -webkit-box;
    height: 100%;
}